
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="/qrcode.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <title><%= title %></title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="../css/animate.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/media-queries.css">
  <link href="../css/popupForm.css" rel="stylesheet" type="text/css">

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="../ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../ico/apple-touch-icon-57-precomposed.png">



</head>

<body class="body">

  
<!-- Wrapper -->
<div class="wrapper">

<!-- Sidebar -->
<!-- Sidebar -->
<nav class="sidebar">
				
  <!-- close sidebar menu -->
  <div class="dismiss">
    <i class="fas fa-arrow-left"></i>
  </div>
  
  <div class="logo">
    <h3><a href="/">Bootstrap 4 Template with Sidebar Menu</a></h3>
  </div>
  
  <ul class="list-unstyled menu-elements">
    <li>
      <a href="/"><i class="bi bi-bar-chart-line"></i>Dashboard</a>
    </li>
    <li>
      <a href="/blocs"><i class="bi bi-card-list"></i>Bloc</a>
    </li>
    <li>
      <a href="/salles"><i class="bi bi-card-list"></i>Salles</a>
      
    </li>
    <li>
      <a href="/creneau"><i class="bi bi-clock"></i>Creneau</a>
      
    </li>
    <li>
      <a href="/occupation"><i class="bi bi-bookmark-check"></i>Occupation</a>
      
  
    <li>
<a href="#otherSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="otherSections">
        <i class="fas fa-sync"></i>ADD
</a>
  <ul class="collapse list-unstyled" id="otherSections">
        <li>
          <a href="/salles/add">ADD SALLES</a>
          
        </li>
        <li>
          <a href="/blocs/add">ADD BLOCS</a>
        </li>
        <li>
          <a href="/creneau/add">ADD CRENEAU</a>
        
        </li>
      </ul>
    </li>
  </ul>
  
  
  
  <div class="dark-light-buttons">
    <a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
    <a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
  </div>

</nav>
<!-- End sidebar -->

<!-- Dark overlay -->
  <div class="overlay"></div>

<!-- Content -->
<div class="content">

  <!-- open sidebar menu -->
  <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
              <i class="fas fa-align-left"></i> <span>Menu</span>
          </a>

          <div class="container">
            <header>

  
              <head>
             
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
              <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
            
              <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
              
              <link rel="stylesheet" href="../website-menu-14/css/style.css">
            
              </head>
              <body>
              
                
                <div class="container">
                  <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar" id="ftco-navbar">
                    <div class="container" >
                     
                      <div class="social-media order-lg-last">
                        <p class="mb-0 d-flex">
                          <a href="https://web.facebook.com/ensajadida/?_rdc=1&_rdr" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                          <a href="" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                          <a href="https://www.instagram.com/aei.ensaj/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                          <a href="" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                        </p>
                      </div>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span> Menu
                      </button>
                      <div class="collapse navbar-collapse" id="ftco-nav">
                        
                      </div>
                    </div>
                  </nav>
                <!-- END nav -->
              </div>
            
            
            
              <script src="../website-menu-14/js/jquery.min.js"></script>
              <script src="../website-menu-14/js/popper.js"></script>
              <script src="../website-menu-14/js/bootstrap.min.js"></script>
              <script src="../website-menu-14/js/main.js"></script>
            
              </body>
            
            
            
             </header>
            <style>
              h2 {text-align: center;}
             
              </style>
            <h2><%= title %></h2>
            <h3><a class="btn btn-secondary" href="/salles/add"><i class="fa fa-plus"></i> New Salle</a></h3>
            <div class="content mt-3">
              <div class="animated fadeIn">
                <div class="row">
            
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <strong class="card-title">Salles List</strong>
                      </div>
                      <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>Id</th>
                              <th>NOM</th>
                              <th>TYPE</th>
                              <th>BLOC</th>
                              <th>Code Bar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% salles.forEach(function(e){ %>
                   
                              <tr>
                                <td > <%= e._id %></td>
                                  <td><%= e.name %></td>
                                  <td><%= e.type %></td>
                                  <td><%= e.bloc.name %></td>
                                  <td id="<%= e._id %>">  </td> 
                                 
                                 
                               
                          
                                    
                                    
                                  
                                  <td>
                                    <button class="btn btn-sm btn-primary"
                                    onclick="openForm('<%= e._id %>' , '<%= e.name %>' , '<%= e.type %>' , '<%= e.bloc._id %>' , '<%= e.bloc.name %>')">Edit</button>
                                      <a href="salles/delete/<%= e._id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete Salle?');">Delete</a>
                                  </td>
                              </tr>
                              
                             
                          <% }); %>
                   
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
            
            
                </div>
              </div><!-- .animated -->
            </div><!-- .content -->
            
            </div>



            <!-- Javascript -->
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../js/jquery-migrate-3.0.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="..js/jquery.backstretch.min.js"></script>
        <script src="../js/wow.min.js"></script>
        <script src="../js/jquery.waypoints.min.js"></script>
        <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="../js/scripts.js"></script>
  

        <div class="form-popup" id="myForm">
          <form id="formEdit_id" action="" method="POST" autocomplete="off" class="form-container">
    
            <label for="name"><b>Edit Salle</b></label>
            <input id="nameEdit" type="text" placeholder="Salle A1" name="name" required>
            <input id="typeEdit" type="text" placeholder="IT" name="type" required>
            <select id="blocEdit" placeholder="Bloc A" name="bloc" required>
              <% blocs.forEach(function(e){ %>
                <option value="<%= e.id %>">
                  <%= e.name %>
                </option>
                <% }); %>
            </select>
    
            <button type="submit" class="btn">Modify</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
          </form>
        </div>
    
        <script>
          function openForm(id, name, type, idBloc, nameBloc) {
            document.getElementById("myForm").style.display = "block";
            $('#nameEdit').val(name);
            $('#typeEdit').val(type);
            document.getElementById("formEdit_id").action = "/salles/update/" + id;
          }
    
          function closeForm() {
            document.getElementById("myForm").style.display = "none";
          }
        </script>
    
</body>

<% salles.forEach(function(e){ %>
<script> 
  var qrdata = document.getElementById("qr-data");
  var div = document.createElement("div");
  
  document.getElementById("<%= e._id %>").appendChild(div);
  div.id="qrcodee"+"<%= e._id %>";
  var qrcodee = new QRCode(document.getElementById("qrcodee"+"<%= e._id %>")) ;
  
  
    
  var data = "<%= e._id %>";
  qrcodee.makeCode(data);
  
 
</script>
<% }); %>

</html>




